*{
   
}

.details-class{
    padding-top: 100px;
}

td{
    text-align: start;
}
.container{
    margin-top: 50px !important;

    margin-top: auto;
    border-radius: 5px;
   
}


.headerContent{
    height: 50px;
   
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
.filter,.searchOption{
    height: 30px;
    
}