<section class="todoContainer">
  <div class="container">

    <div class="headerContent">

      <div class="searchOption">
        <div class="search">
          <mat-form-field class="example-form-field">
            <mat-label>Search by Task</mat-label>
            <input matInput type="text" [(ngModel)]="value" (input)="searchOption()">
            @if (value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)="searchClear()">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
          <button mat-raised-button color="primary" style="margin-bottom: 15px; margin-left: 10px;"
            (click)="searchClear()">Clear</button>
        </div>
        
        <div class="addTask">
          <!-- <button mat-raised-button (click)="openAddTodoForm()" style="background-color: blueviolet; color: white;">
            Add Task
          </button> -->
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openAddTodoForm()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        
      </div>

      <div class="userBox" style=" margin-top: 80px;">
        <p class="user_info" style="text-align: center;"> <b>{{user_name}}'s Todo List</b> </p>
        <span style="color: rgb(19, 15, 15);"><b>Total Task : {{todos.length}} </b> || <b> Completed Task : {{completedTask}} </b>||<b> Pending Task : {{inCompletedTask}}</b> </span>
        
        <div class="example-button-row viewButton" >
          
          
          <button mat-raised-button color="" style="margin-right: 10px;" (click)="GetAllTodosUsingStatus(1)">COMPLETE</button>
          <button mat-raised-button color="" (click)="GetAllTodosUsingStatus(0)">PENDING</button>
          
        </div>
        
        <!-- <span>Total Task : {{todos.length}}  Completed Task : </span> -->

      </div>

      <div class="filter">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Filter</mat-label>
          <mat-select [(ngModel)]="filterOption">
            <mat-option *ngFor="let option of priorityOptions" [value]="option.value">{{ option.viewValue
              }}</mat-option>
          </mat-select>

        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-top: 0px; margin-left: 10px;"
          (click)="GetAllTodosUsingFilter()">Apply</button>
      </div>
      
    </div>
    <div class="row details-class table-section">

      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="color: rgb(211, 48, 116);"> CREATE TIME</th>

            <th scope="col" style="color: rgb(211, 48, 116);">TASK</th>

            <th scope="col" style="color: rgb(211, 48, 116);">DESCRIPTION</th>

            <th scope="col" style="color: rgb(211, 48, 116);">PRIORITY</th>
            <th scope="col" style="color: rgb(211, 48, 116);">DUE DATE</th>
            <th scope="col" style="color: rgb(211, 48, 116);">COMPLETED</th>
            <th scope="col" style="color: rgb(211, 48, 116);">TASK SHARE</th>
            <th style="color: rgb(211, 48, 116);"> MAKE ACTION</th>
           
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let todo of todos">
            <td *ngIf="todo.isCompleted === 1" [ngStyle]="{'background-color': 'white' , 'color':'black'}"
              style="font-size: 13px;"><del>{{todo.createdOn | date: "MMM d, y, h:mm:ss a"}}</del></td>
            <td *ngIf="todo.isCompleted === 0" [ngStyle]="{'background-color': 'white' , 'color':'black'}"
              style="font-size: 13px;">{{todo.createdOn | date: "MMM d, y, h:mm a"}}</td>

              

            <td *ngIf="todo.isCompleted === 1" [ngStyle]="{'background-color': 'white' , 'color':'black'}">
              <del>{{todo.title}}</del></td>
            <td *ngIf="todo.isCompleted === 0" [ngStyle]="{'background-color': 'white' , 'color':'black'}">
              {{todo.title}}</td>
            <td *ngIf="todo.isCompleted === 1" [ngStyle]="{'background-color': 'white' , 'color':'black'}">
              <del>{{todo.descriptions}}</del></td>
            <td *ngIf="todo.isCompleted === 0" [ngStyle]="{'background-color': 'white' , 'color':'black'}">
              {{todo.descriptions}}</td>


            <td *ngIf="todo.isCompleted === 0" [ngStyle]="{'background-color': 'white' , 'color':'black'}">
              {{todo.prioritys}}</td>
            <td *ngIf="todo.isCompleted === 1" [ngStyle]="{'background-color': 'white' , 'color':'black'}">
              <del>{{todo.prioritys}}</del></td>

            <td *ngIf="todo.isCompleted === 1" style="font-size: 13px;"
            [ngStyle]="{'background-color': 'white' , 'color':'black'}"><del>{{todo.dueDate | date: "MMM d, y,
                h:mm:ss a"}}</del></td>
            <td *ngIf="todo.isCompleted === 0" [ngStyle]="{'background-color': 'white' , 'color':'black'}"
              style="font-size: 13px;">{{todo.dueDate| date: "MMM d, y, h:mm a"}}</td>
            <td>
              <section class="example-section">
                <mat-checkbox *ngIf="todo.isCompleted == 0" [checked]="false" (change)="checkBox(todo)"></mat-checkbox>
                <mat-checkbox *ngIf="todo.isCompleted == 1" [checked]="true" (change)="checkBox(todo)"></mat-checkbox>
              </section>
            </td>

            <td>
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container">
                      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                      (click)="taskAssign(todo)"
                      >
                        <mat-icon>share</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
            </td>

            <td class="actionButton">
              <div class="example-button-row">

                <!-- <button mat-button color="primary" (click)="editTodo(todo)" >Edit</button> -->
                <!-- <button mat-button color="accent" (click)="deleteTodo(todo.id)">Delete</button> -->
                <!-- <button mat-raised-button color="accent" style="margin-right: 10px;"  (click)="editTodo(todo)">Edit</button>
                      <button mat-raised-button color="warn" (click)="deleteTodo(todo.id)">Delete</button> -->
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                  style="margin-right: 10px;" (click)="editTodo(todo)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                  (click)="deleteTodo(todo.id,todo.taskId)" style="background-color: red;">
                  <mat-icon>delete</mat-icon>
                </button>

              </div>
            </td>


          </tr>

        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- (click)="editTodo(todo)" -->